@page
@model RegisterModel
@{
    ViewData["Title"] = "MOXA · A PRUEBA DE FUEGO";
    Layout = "~/Views/Shared/_blackLayout.cshtml";
}

<h1 class="moxa-h1 mt-5 text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <p class="moxa-p text-center">
                POR FAVOR INGRESA TODA LA INFORMACIÓN, PARA PARTICIPAR EN LAS
                TRES ETAPAS DEL CONGRESO DE JOVENES 2021.
            </p>
            <div class="row">
                <input asp-for="Input.TeamId" type="hidden" value="@Model.RandomId" />
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" placeholder="Primer Nombre" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" placeholder="Apellido" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.Age"></label>
                        <input asp-for="Input.Age" class="form-control" placeholder="16" />
                        <span asp-validation-for="Input.Age" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" placeholder="info@ccnjuvenil.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="+58 414 000 0000" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <label class="moxa-lbl-lg">En caso de pertenecer a CCN, escriba la congregación al que pertenece.</label>
                        <br />
                        <label class="moxa-lbl" asp-for="Input.CongregationId"></label>
                        <select asp-for="Input.CongregationId" asp-items="Model.Congregations" class="form-control"></select>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <label class="moxa-lbl-lg" asp-for="Input.NeedContact"></label>
                        <label class="moxa-lbl-lg" >¿Deseas que nos coloquemos en contacto contigo?</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Input.NeedContact" id="inlineRadio1" checked="checked" value="true">
                                <label class="form-check-label" for="inlineRadio1">SI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Input.NeedContact" id="inlineRadio2" value="false">
                                <label class="form-check-label" for="inlineRadio2">NO</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.Instagram"></label>
                        <input asp-for="Input.Instagram" class="form-control" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.Facebook"></label>
                        <input asp-for="Input.Facebook" class="form-control" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.TikTok"></label>
                        <input asp-for="Input.TikTok" class="form-control" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.Twitter"></label>
                        <input asp-for="Input.Twitter" class="form-control" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <input type="hidden" asp-for="Input.Password" class="form-control" value="Juv&Fam0426*#." />
                        <input type="hidden" asp-for="Input.ConfirmPassword" class="form-control" value="Juv&Fam0426*#." />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-light">SIGUIENTE </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
