@page
@model CongresoJuvenil2021.Areas.Identity.Pages.Account.ResultPageInfoModel
@{
    ViewData["Title"] = "MOXA · A PRUEBA DE FUEGO";
    Layout = "~/Views/Shared/_blackLayout.cshtml";
}
<div class="row">
    <div class="col-md-5">
        <img class="moxa-img" src="~/img/banner-pc.png" alt="Alternate Text" />
    </div>
    <div class="col-md-5 offset-md-1 text-center mt-5">
        <h1 class="moxa-h1 mt-5 text-center">@ViewData["Title"]</h1>
        <p class="moxa-p text-center">CONGRESO DE JOVENES 2021</p>

        <h1 class="moxa-h1 mt-5 mb-5 text-center">
            ¡ESTAS LISTO PARA PARTICIPAR!
        </h1>

        <h2 class="moxa-h2 text-center">Atento a tu correo electrónico</h2>

        <p class="moxa-p-light text-center">te llegará una información importante para iniciar este congreso</p>

        <a href="/" class="btn btn-block">
            VOLVER A LA PAGINA PRINCIPAL
        </a>
    </div>
</div>
