@page
@model CongresoJuvenil2021.Areas.Identity.Pages.Account.ResultPageInfoModel
@{
    ViewData["Title"] = "MOXA · A PRUEBA DE FUEGO";
    Layout = "~/Views/Shared/_blackLayout.cshtml";
}
<div class="row">
    <div class="d-none d-sm-block col-md-5">
        <div class="moxa-banner">
        </div>
    </div>
    <div class="d-block d-sm-none w-100">
        <div class="moxa-banner-xs">
        </div>
    </div>

    <div class="col-md-5 offset-md-1 text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="moxa-h1 mt-md-5 mt-3 text-center">@ViewData["Title"]</h1>
                <p class="moxa-p text-center">CONGRESO DE JÓVENES 2021</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h1 class="moxa-h1 mt-5 mb-5 text-center">
                    ¡ESTAS LISTO PARA PARTICIPAR!
                </h1>

                <h2 class="moxa-h2 text-center">Atento a tu correo electrónico</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p class="moxa-p-light text-center">te llegará una información importante para iniciar este congreso</p>

                <a class="btn btn-block btn-light moxa-btn">VOLVER A LA PAGINA PRINCIPAL</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(".moxa-banner").css("height", $('html').height());
    </script>
}

