@page
@model CongresoJuvenil2021.Areas.Identity.Pages.Account.ResultPageInfoModel
@{
    ViewData["Title"] = "MOXA · SANGRE, ESPÍRITU Y GRACIA";
    Layout = "~/Views/Shared/_blackLayout.cshtml";
}
<div class="row">
    <div class="d-none d-sm-block col-md-5">
        <div class="moxa-banner">
        </div>
    </div>
    <div class="d-block d-sm-none w-100">
        <div class="moxa-banner-xs">
        </div>
    </div>

    <div class="col-md-5 offset-md-1 text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="moxa-h1 mt-md-5 mt-3 text-center">@ViewData["Title"]</h1>
                <p class="moxa-p text-center">CONGRESO DE JÓVENES 2022</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h1 class="moxa-h1 mt-5 mb-3 text-center">
                    ¡Bienvenido al equipo @Model.MyTeam.Id!
                </h1>

                <p>
                    En este enlace de Telegram podrás ingresar al grupo de tu equipo.
                </p>

                <a class="btn btn-info mt-1" href="@Model.MyTeam.Link" target="_blank">Grupo de Telegram</a>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="moxa-h2 text-center mt-5">Atento a tu <b>correo electrónico</b></h2>

                <p class="moxa-p-light text-center">Allí también te llegará la información de tu equipo del congreso</p>
                <br />
                <p class="moxa-p-light text-center">Chequea tu bandeja de SPAM en caso de no conseguirlo en la principal</p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(".moxa-banner").css("height", $('html').height());
    </script>
}

