@model IEnumerable<CongresoJuvenil2021.ViewModels.UsersPodCast>

@{
    ViewData["Title"] = "Total Usuarios por PodCasts";
}

<div class="row">
    <div class="col-12">
        <h2>Total Usuarios por PodCasts</h2>
    </div>
    <div class="col-md-3 col-6">
        <a class="btn btn-info" asp-area="" asp-controller="Dashboard" asp-action="SendEmailsDayOne" asp-route-id="">
            Enviar Correo Dia 1
        </a>
    </div>
    <div class="col-md-3 col-6">
        <a class="btn btn-info" asp-area="" asp-controller="Dashboard" asp-action="SendEmailsDayTwo" asp-route-id="">
            Enviar Correo Dia 2
        </a>
    </div>
    <div class="col-md-3 col-6">
        <a class="btn btn-info" asp-area="" asp-controller="Dashboard" asp-action="SendEmailsDayThree" asp-route-id="">
            Enviar Correo Dia 3
        </a>
    </div>
    <div class="col-md-3 col-6">
        <a class="btn btn-info" asp-area="" asp-controller="Dashboard" asp-action="SendEmailsDayFour" asp-route-id="">
            Enviar Correo Dia 4
        </a>
    </div>
    <div class="col-12">
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PodCastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalUser)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PodCastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalUser)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


