@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav flex-grow-1">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole(UserRoles.Competitor))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Mi cuenta</a>
        </li>
    }
    else if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Usuarios</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Teams" asp-action="Index">Equipos</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="PodCasts" asp-action="Index">PodCast</a>
        </li>
    }
</ul>
