@{
    ViewData["Title"] = "Congreso Juvenil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Congreso</h1>
    <p>
        Pronto podras ver la informacion sobre tu Equipo y Links de las conferencias.
    </p>
</div>
